@charset "UTF-8";
/*全局样式*/
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{ border:none; vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
body{font:12px "微软雅黑";}

body{
    background: url(../img/zhuc.gif) no-repeat;
    position: relative;
    margin: 0 auto;
}
#box{
    width: 340px;
    height: 390px;
    background: #fff;
    position: absolute;
    top: 150px;
    right: 75px;
    border: 1px solid #dbdbdb;
}
#box_h2{
    width: 340px;
    height: 50px;
    position: relative; 
}
#box_h2>h2{
    margin-left: 20px;
    font:18px "微软雅黑";
    color:#686565;
    float: left;
    padding-top: 20px;
}
#box_h2>p{
    margin-right: 20px;
    float: right;
    color: #999;
    padding-top: 22px;  
}
#box_h2>p a{
    color: #137ce9;
}
#box_inp_none{
    width: 295px;
    height: 20px;
    color: red;
    margin: 0 22px; 
}
#box ul{
    margin: 10px 22px 0 22px;
}
#box ul li{
    display: block;
    width: 296px;
    height: 40px;
    border: 1px solid #fff;
    margin:10px 0;
    line-height: 40px;
    position: relative;
}
#box ul li span{
    padding: 12px;
    background: #f9f9f9;
}
.box_inp1{
    width: 256px;
    height: 40px;
    background: #f9f9f9;    
    border: 0;
}
.box_inp2{
    width: 150px;
    height: 40px;
    background: #f9f9f9;    
    border: 0;
}
#box ul li .yz{
    display: block;
    position: absolute;
    padding:0;
    width: 100px;
    height: 40px;
    background: #f0f0f0;
    top: 0;
    right: 0;
}
#box ul li .syz{
    background: red;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
.box_xy{
    margin: 10px 5px 15px 25px;
}
.box_xy a{
    color: #137ce9;
}
#box_btn{
    width: 295px;
    height: 40px;
    background: red;
    color: #fff;
    border: 0;
    margin: 10px 22px 0 22px;   
}